<div id="logo">
  <h1>twenty eight</h1>
</div>

<div id="upcoming-gigs" class="gigs panel callout radius">
  <h2>upcoming gigs</h2>
  <table>
    <thead>
      <tr>
        <th width="150">Location</th>
        <th>Start Time</th>
      </tr>
    </thead>
    <tbody>
      <%= render @upcoming_gigs %>
    </tbody>
  </table>
</div>

<div class="music panel callout radius">
  <h2>music</h2>
  <ul class="no-bullet">
    <li>
      <%= link_to(
        "music.twentyeightmusic.com",
        "http://music.twentyeightmusic.com",
        class: "button")
      %>
    </li>
  </ul>
</div>

<div class="contact panel callout radius">
  <h2>contact</h2>
  <ul class="no-bullet">
    <li>
      <%= mail_to(
        "info@twentyeightmusic.com",
        "email",
        class: "button")
      %>
      <%= link_to(
        "facebook",
        "https://www.facebook.com/pages/Twenty-Eight/102417551270",
        class: "button")
      %>
    </li>
  </ul>
</div>
